@import "colors.css";

/* size specific css */
@media screen and (min-width: 768px) {
  nav{
    grid-template-columns: 45% 6% 44%;
  }
  nav ul{
    top: -19vh;
    transition: top 2s;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    max-height: 10vw;
    place-items: center;
  }
  nav ul~ul{
    width: 25vw;
    grid-template-columns: repeat(4, 1fr);
  }

  nav ul li img:hover{
    position: relative;
    top: 5px;
  }
  nav:hover ul{
    top: 0vh;
    transition: top 1s;
  }
  footer div{
    width: 35vw;
    height: 20vh;
  }
}




body{
  background-color: black;
  font-family: 'itc_serif_gothicextra_bold';
  color: var(--text-color);
  overflow: hidden;
}
h1, h2{
  font-family: 'itc_serif_gothicheavy';
  margin-bottom: 1vh;
}
nav{
  display: grid;
}
nav ul{
  display: grid;
  position: relative;
  background-color: rgba(25, 25, 25, 0.337);
  box-shadow: 5px 5px 20px  rgb(22, 22, 22);
  border-radius: 0 0 40px 40px;
  padding: 0;
  margin: 0;
}
nav li{
  list-style-type: none;
  align-self: center;
  height: 10vh;
  display: flex;
}
nav ul~ul{
  display: grid;
}
nav img{
  max-width: 100%;
  max-height: 90%;
}
nav ul a{
  text-decoration: none;
  color: var(--text-color);
}
.grip{
  background-image: url("../img/Outer-wilds-ventures-outline.png");
  background-size: contain;
  background-repeat: no-repeat;
  transition: background-image 1s;

}

nav:hover .grip{
  background-image: url("../img/Outer-wilds-ventures.png");
  transition: 2s;
}

main{
  max-height: 100%;
}
.hover-me{
  position: absolute;
  bottom: 5vh;
  right: 1vw;
  padding: 0.5rem;
  border: solid var(--line-color);
  opacity: 30%;
  border-radius: 20px;
  z-index: 10;
}
article{
  text-align: center;
  background-color: var(--div-color);
  width: 70%;
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}
article strong{
  color: var(--important-color);
}
h1{
  color: var(--important-color);
}
h2{
  color: var(--important-color);
  border-bottom: 1px solid;
  width: -moz-fit-content;
  width: fit-content;
}
.invisible{
  visibility: hidden;
}
figure img{
  max-width: 100%;
  max-height:100%;
}
figure{
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer div{
  background-image: url("../img/banner.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}
footer small{
  position: absolute;
  right: 0.4vw;
  bottom: 1vh;
  padding: 1rem;
  border-radius: 5rem;
  opacity: 30%;
  z-index: 5;
}