@import "./colors.css";
body{
  height: 100vh;
  background-image: url(../img/mobile/observatory-mobile.png);
  background-repeat: no-repeat;
  background-size:100% 100%;
  background-position: left top;
  font-size: 12px;
}

article{
  margin: 0 1rem 0 0;
  width: 97vw;
  text-align: left;
  height: 20vh;
}
article+article{
  margin-top: 32vh;
}
nav a{
  width: 100vw;
  height: 6.8vh;
  position: absolute;
  bottom: 0;
  right: 0;
}


@media screen and (min-width: 768px) {
  body{
    background-image: url(../img/museum.webp);
    font-size: 16px;
  }
  main{
    display: flex;
    justify-content: space-between;
  }
  article{
    margin: 10vh 0 0 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20vw;
    height: 60vh;
  }
  article+article{
    margin-top: 10vh;
  }
}